.goods-list {
    // height: 120rpx;
    // display:flex;
    // float: left;
    background-color: #eee;
    padding: 25rpx 20rpx;
    
    // .iconfont {
    //     display: flex;
    //     background-color: #fff;
    //     justify-content: left;
    //     height: 60rpx;
    //     // padding: 25rpx 20rpx;
    //     align-items: center;
    //     &::before{
    //         font-size: 50rpx;
    //         color: #bebebe;
    //         margin-left: 25rpx;
    //     }
    // }
    &-search{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 60rpx;
        background-color: #fff;
        border-radius: 5rpx;
    }
    &-inp{
        
    }
}